.izzyPhone {
  --bg1: #54dbce;
  --bg2: #bae2e1;
  --text1: #111;
  --text2: #111;
  --grayAlpha: rgba(100, 100, 100, 0.3);
  --gap: 4px;
  --pad: calc(var(--gap) * 4);
  --messageWidth: 28ch;
  --radius: 10px;
  background-color: var(--grayAlpha);
  border-radius: calc(var(--radius) * 0.5);
  border: var(--bg1) 2px solid;
  font-family: sans-serif;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: calc(var(--messageWidth) * 1.25);
}
.izzyPhone .contact {
  background: var(--bg1);
  color: var(--text1);
  font-size: 1.2em;
  letter-spacing: 1px;
  box-sizing: border-box;
  width: 100%;
  padding: var(--pad);
  border-radius: calc(var(--radius) * 0.5) calc(var(--radius) * 0.5) 0 0;
  position: relative;
  top: -1px;
}
.izzyPhone .messages {
  padding-right: calc(var(--pad) / 2);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--bg1) var(--grayAlpha);
  margin: var(--pad);
  margin-right: calc(var(--pad) / 2);
  max-height: 300px;
}
.izzyPhone .messages::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.izzyPhone .messages::-webkit-scrollbar-thumb {
  background: var(--bg1);
  border-radius: var(--radius);
}
.izzyPhone .messages::-webkit-scrollbar-track {
  background: var(--grayAlpha);
  border-radius: var(--radius);
}
.izzyPhone .timestamp {
  margin: calc(var(--gap) * 2);
  display: flex;
  align-items: center;
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 2;
  opacity: 0.7;
  text-align: center;
}
.izzyPhone .timestamp:first-of-type {
  margin-top: 0;
}
.izzyPhone .timestamp:after, .izzyPhone .timestamp:before {
  content: "";
  background: currentcolor;
  height: 1px;
  opacity: 0.5;
  flex-grow: 1;
}
.izzyPhone .timestamp:after {
  margin-left: 1ch;
}
.izzyPhone .timestamp:before {
  margin-right: 1ch;
}
.izzyPhone .message {
  background-color: var(--bg);
  color: var(--text);
  display: block;
  box-sizing: border-box;
  max-width: min(80%, var(--messageWidth));
  margin: var(--gap) 0;
  padding: var(--radius);
  width: max-content;
}
.izzyPhone .to {
  --bg: var(--bg1);
  --text: var(--text1);
  margin-left: auto;
  border-radius: var(--radius) 0 var(--radius) var(--radius);
}
.izzyPhone .from {
  --bg: var(--bg2);
  --text: var(--text2);
  margin-right: auto;
  border-radius: 0 var(--radius) var(--radius) var(--radius);
}
.izzyPhone .message img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: calc(var(--radius) * 0.5);
}
.izzyPhone :not(.to) + .to,
.izzyPhone :not(.from) + .from {
  margin-top: calc(var(--gap) * 2);
}
